<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>kenslist jobs|| <%= event.title %></title>


        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <%- include ('../partials/head.ejs') %>

    </head>
    <body>

        <nav>
            <div class="navbar">
                <a href='/' class ='ourlistpadding'>OURLIST</a>              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/jobs/<%=event._id%>">Go Back</a></li>
                <li><a href="/jobs/new">Create a New Listing!</a></li>
                <li><a href="/jobs">View all jobs listings</a></li>
            </ul>
            </div>
          </nav>
        

          <main>
            <br><br><br><br>
                <section class = 'editformsection'>
                    <span class='craigslist'>edit listing for: </span>
                    <br><br>
                    <span class='headingtitle'>'<%= event.title %>'</span>
                <br><br>
                <div class ='editform'>
    
                <form action="/jobs/<%= event._id%>?_method=PUT" method="POST">
                    <p>
                        Title
                        <input
                            type="text"
                            name="title"
                            placeholder="Title"
                            value="<%= event.title %>"/> 
                    </p>
                    <p>
    
                        Price
     
                    <input
                            type="number"
                            name="price"
                            placeholder="price"
                            value="<%= event.price %>"/>
                    </p>
                    Description
    <br><br>
                    <textarea type="text" name="description" placeholder="Body">
                        <%= event.description %></textarea>
                        <p>
                    <button class="btn waves-effect waves-light" id='clbutton' type="submit" name="action">Update Listing
    
                      </button>
                </form>
    
            </div>
                </section>
    
                
    
            </main>
    

    

            <footer class="page-footer"id ='navbar'>
                <span id='footerpadding'>
              
                </span>
          </footer>


    
    </body>



</html>